.wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  
  width: 50%;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 3rem; */
}

.button {
  background-color: var(--as-Languid-lavender);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: rgb(44, 44, 44);
}