.mapContainer {
  width: 100%;
  height: 75vh;
}

.form {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  /* padding-bottom: 3rem; */
  /* background: yellow; */
  width: 15rem;
}

.inputField {
  /* background-color: red;
  margin-bottom: 3rem; */
}

.inputTextarea {
  resize: none;
  height: 160px;
  overflow-y: scroll;
  /* background-color: red;
  margin-bottom: 3rem; */
}